:root {
    --primary-color: #61CE70;
}

body {
    background: #E3E3E3;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.main-section {
    height:60%;
    width: 80%;
    background-color: white;
    margin: 5em;
    border-radius: 5em;
    border: 1px solid black;
}

.title-section {


    h1 {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 2.5em;
        color: var(--primary-color);
        margin-left: 3em;
    }

    h2 {
        color: #707070;
        margin-left: 6.4em;
        margin-top: -1.5em;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: 600;

    }
}



.card-section {

    display: flex;
    align-content: center;

    .card {
        border: 1px solid black;
        height: 370px;
        width: 250px;
        
        margin: 4em;
        border-radius: 3em;
        text-align: center;

        h1 {
            font-family: 'Poppins', Arial, Helvetica, sans-serif;
            font-size: 1.7em;
            text-align: center;

        }
        .list {
            margin-bottom: 2em; 
            padding-left: 3em;
            list-style: none;
            text-align: left;
            font-family: 'Poppins', Arial, Helvetica, sans-serif;
            color: #707070;


            li {
                margin-bottom: 1em;
                position: relative;

                &:before {
                    content:'';
                    left: -1.8em;
                    top: .2em;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-image: url(../assets/checkmark.svg);
                    background-size: contain;
                    margin-right: .1em;
                }
            }
        }
        .button {
            text-decoration: none;
            background: var(--primary-color);
            color: white;
            padding: 10px 35px 10px 35px;
            text-transform: uppercase;
            border-radius: 5em;
            font-family: 'Poppins';
            
            
        }
    }

}